#Options +Includes
#AddType text/html .shtml
#AddHandler server-parsed .html 
#php_value error_reporting 7
#AddType application/x-httpd-php .php  .phtml
#AddDefaultCharset Off
#AddDefaultCharset UTF-8
#--------------------------------

AddDefaultCharset utf-8




<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
  
# редиректим с www. на без www.
RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)$ index.php?q=$1 [L,QSA]
#RewriteRule ^(.*)$ cgi-glob/cgicgi.exe?q=$1 [L,QSA]
#RewriteRule ^(.*)$ cgi-glob/cgi-1.exe?q=$1 [L,QSA]

</IfModule>
