body{
padding:0px;
margin:0px;
background-color:#eeeeff;
}
A:visited {
	color: #0000aa;
}

A:hover {
	color: #FF0000;
	text-decoration: none;
}
.li {line-height: 30px;}






























































































